<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <!-- Get all Superhumans -->
  <servlet>
  	<servlet-name>SuperhumanGetAllServlet</servlet-name>
  	<servlet-class>com.revature.superhuman.servlet.SuperhumanGetAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SuperhumanGetAllServlet</servlet-name>
  	<url-pattern>/super-human</url-pattern>
  </servlet-mapping>
  
    <!-- Create a Superhuman -->
  <servlet>
  	<servlet-name>SuperhumanAddServlet</servlet-name>
  	<servlet-class>com.revature.superhuman.servlet.SuperhumanAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SuperhumanAddServlet</servlet-name>
  	<url-pattern>/create-super-human</url-pattern>
  </servlet-mapping>
  
      <!-- Create a Superhuman -->
  <servlet>
  	<servlet-name>SuperhumanDeleteServlet</servlet-name>
  	<servlet-class>com.revature.superhuman.servlet.SuperhumanDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SuperhumanDeleteServlet</servlet-name>
  	<url-pattern>/delete-super-human</url-pattern>
  </servlet-mapping>
  
</web-app>